
#page-container {
    position: relative;
    min-height: 100vh;
  }

  #content-wrap {
    padding-bottom: 3rem;    /* Footer height */
  }



/* Body style*/


body{
    font-family:  Helvetica, sans-serif;
    margin: auto;
    display: flexbox;
    text-align: justify;
    background-color:rgb(240, 240, 240);
    vertical-align: baseline;
    position: relative;

}

.Core{
    min-height:  75vh;
}


/* Header modifyer*/

header{
    min-height: auto;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

}


.Header_title{
color: rgb(218, 41, 28);
margin: auto;
width: 50%;
}


.Header_title h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;

}

.Header_title h3{
    text-align: center;
    font-size: 25px;
    color: rgb(218, 41, 28);
    padding-bottom: 5px;

}





/*Navigation modifyers*/
nav{
    font-family: Helvetica, sans-serif;
    height: 70px;
    text-align: center;
    background-color: lightgrey;
    border-bottom: 2px solid rgb(218, 41, 28);
    overflow: auto;
    
}

.menu{
    display: table;
    margin: 0 auto;
    width: 70%;
}

nav ul{
    margin: 0%;
    padding: 0%;
}

.menu-me a{
    display: inline-block;
    text-decoration: none; 
    color: black; 
    padding: 25px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 25px;
}



.submenu a{
    display: inline-block;
    text-decoration: none; 
    color: black; 
    padding: 35px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 15px;
}


.menu-standardlink-activepage{
    border-bottom: 3px solid  rgb(218, 41, 28);
    height: 67px;
}

.menu-standardlink-activepage a{
    display: inline-block;
    text-decoration: none; 
    color:   rgb(218, 41, 28);
    padding: 35px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 15px;
}


nav li{
    list-style-type: none;
    float: left;

}


.menu-standardlink:hover{
    border-bottom: 3px solid rgb(218, 41, 28);
    background-color: rgba(218, 41, 28, 0.4);
    height: 67px;
    transition: background-color 0.3s ease-in-out;
}

.menu-me:hover{
    border-bottom: 3px solid rgb(218, 41, 28);
    background-color: rgba(218, 41, 28, 0.4);
    height: 67px;
    transition: background-color 0.3s ease-in-out;
}

.submenu li:hover a{
    padding: 35px 20px 10px 20px;

}


/*Footers*/
.superpadding{
    min-height: 100%;
}

footer{
    height: 60px;
    text-align: center;
    /*background-color: lightgrey;*/
    border-top: 2px solid rgb(218, 41, 28);
    position:static;
    bottom: auto;
}





h1{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.map{
    display: block; 
    margin: auto; 
    width: 75%;
}

.map iframe{
    width: 600px;
    height: 450px;
    max-width:100%;
    max-height: 100%;
}


.logo_picture {
    width: 30%;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.separator{
    padding-top: 7vh;
    margin: 0 auto;


}

section{
    max-width:70%;
    margin: auto;
    margin-top: 30px;

}

section li{
    list-style-position: outside;

}

 section li::marker {
  color:  rgb(218, 41, 28);
}


section a{
    text-decoration: none; 
    color: rgb(218, 41, 28);
    background: linear-gradient(transparent 90%, rgb(218, 41, 28) 10%);

}

h2{
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(218, 41, 28);
    size: large;
}

h3{
    font-size: 15px;
    text-transform: capitalize;
    color: rgb(218, 41, 28);
    size: large;
}


.slides{
    text-decoration: none; 
    color: black;
    background: linear-gradient(transparent 90%, #000080 10%);
    box-shadow: inset 0 0 0 0 #000080;

}

.slides:hover{
    box-shadow: inset 10px 10px 10px 10px #000080;
    color: white;
    transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}



.iframe{
    display: block;
    margin: 0 auto;
    text-align: center;
}


.sponsor_table{
    margin: auto;
    width: 70%;
    background-color: lightgray;
    padding: 5px;
    border-width: 2px 0 2px 0;
    border-style: solid none solid none;


}

.sponsor_table h2{
    text-align: center
}

.sponsor_table a{
        background: none;
}



.Program_table{
    margin: auto;
    width: 80%;
    background-color: lightgray;
    padding: 5px;
    border-width: 2px 0 2px 0;
    border-style: solid none solid none;
}

.Program_table h2{
    text-align: center
}
.Program_table h3{
    text-align: center
}

.Program_table a{
        background: none;
}



